body{
    background-color: rgb(250, 251, 251);
}

.override{
    margin-top: 100px;
}

.css-11b3ww9-MuiPaper-root-MuiAppBar-root {
    box-shadow: none ! important;
}

.footer{
   text-align: center; 
   margin-top: 150px;
   font-weight: lighter;
}